section.middle-section {
  &.middle-section-71 {
    .title-container {
      background-size: 155%;
      background-position: 23% 50%;
    }
    .button-collapse {
      background-color: #018FA7;
    }
    .middle-section-heading {
      max-width: 160px;
    }
    button.oil-finder-submit,
    button.oil-finder-return {
      @include button();
      background-color: #018FA7;
      max-width: 75px;
      height: 35px;
      float: right;

    }
    button.oil-finder-return {
      max-width: 90px;
    }
    .dropdown-container {
      position: relative;
      ul {
        position: absolute;
        top: 55px;
      }
      .oil-finder-form-title {
        text-align: left;
        h2 {
          font-family: 'Gibson-semibold';
          font-size: 18px;
          margin: 40px 0 25px;
          text-transform: uppercase;
        }
      }
      .oil-finder-form {
        span.dropdown-label {
          float: left;
          font-family: 'Gibson-regular';
          font-size: 12px;
          color: #999999;
          margin-left: 5px;
          margin-bottom: 3px;
        }
        button.btn {
          position: relative;
          font-family: 'Gibson-regular';
          color: black;
          float: left;
          width: 100%;
          border: 1px solid #CCCCCC;
          background-color: white;
          text-align: left;
          margin-bottom: 10px;
          &:after {
            content: "\f0d7";
            font-family: FontAwesome;
            right: 12px;
            position: absolute;
            top: 6;
          }
        }

      }
    }
    .oil-finder-lastscreen-container {
      display: none;

      .oil-finder-lastscreen {
        background-image: url('../images/Motor Oil.jpg');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: 65% 69%;
        max-width: 280px;
        margin: 0 auto;

        div {
          @include make-sm-column(8);
          float: right !important;
        }
        h3 {
          letter-spacing: 1px;
          font-family: 'Gibson-semibold';
          font-size: 30px;
          strong {
            color: #018FA7
          }
        }
        span {
          font-family: 'Gibson-regular';
          font-size: 14px;
          margin-bottom: 300px;
          float: left;
        }
      }
    }
  }

  .car, .bike {
    display: none;
  }

  div.dropdown-3 {
    display: none;
    &.empty {
      display: block;
    }
  }
  .dropdown-field {
    position: relative;
    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      a {
        padding-top: 5px;
        padding-bottom: 5px;
        i {
          float: right;
          display: none;
        }
        &.active {
          i {
            display: inline-block;
          }
        }
      }
      &:first-child {
        a {
          padding-top: 3px;
        }
      }
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0px;
      }
    }
  }

  .dropdown-menu {
    width: 100%;
  }

  &.middle-section-32 {
    .title-container {
      background-position: 42% 26%;
      background-size: 329%;
    }
  }

  &.middle-section-97 {

      .title-container {
        padding: 70px 0 60px;
        .middle-section-heading {
          max-width: 260px;
          }
        }
    }

  &.middle-section-125{
    .container-fluid {
      margin: 35px 0 0;
      padding-bottom: 40px;
    }
  }

  &.middle-section-186 {
    .container-fluid {
      background-size: cover;
      background-repeat: no-repeat;
    }

    .food-content-container {
      .food-overlay {
        bottom: 234px;
      }

    }

    .title-container {
      background-size: 300%;
      background-position: center 58%;
      .middle-section-heading {
        max-width: 250px;
      }
    }

  }
  @include breakpoint(phablet) {
    &.middle-section-71 {
      .title-container{
        background-size: 110%;
        background-position: 70% 19%;
      }
      .middle-section-heading {
        max-width: none;
      }
      .dropdown-container {
        .oil-finder-form-title {
          h2 {
            font-size: 24px;
            margin: 75px 0 35px;
          }

        }
      }
      .oil-finder-lastscreen-container {
        .oil-finder-lastscreen {
          max-width: none;
          background-size: 38%;
          background-position: 4% 43%;
          div {
            padding-right: 80px;
          }
          h3 {
            margin-top: 225px;
            font-size: 35px;
            margin-bottom: 0px;
            letter-spacing: 2px;
          }
          span {
            font-size: 25px;
            margin-bottom: 215px;
          }
          button {
            margin-top: 90px;
            margin-right: 15px;
          }
        }

      }
    }
  }
  &.middle-section-97 {
    .button-collapse {
      background-color: #008BD6;
      }

    .pharma-midsection-column-row {
      .pharma-column-container {

        @include make-xs-column(12);
        @include make-sm-column(6);
        margin: 60px 0;

        &:nth-of-type(1) {
          margin-bottom: 20px;
          }

        .column-image {
          width: 60px;
          margin: 0 auto;
          img {
            width: 100%;
            height: auto;
            }
          }
        }
      .column-title {
        color: #008BD6;
        text-transform: uppercase;
        font-size: 15px;
        width: 210px;
        margin:0 auto;
        text-align: center;
        h4 {

          font-size: 15px;
          margin: 20px 0;
          }
        }
      .column-content {
        width: 210px;
        margin: 0 auto;
        text-align: center;
        p {
          font-size: 13px;
          font-family: 'Gibson-regular';
          }
        }
      }
    .bottom-text-row {
      .bottom-text-container {
        @include make-xs-column(11);
        float: none;
        margin: 0 auto;
        }
      p {
        font-size: 12px;
        margin-bottom: 50px;
        strong {
          font-weight: bold;
          }
        }
      }
    button.wpcf7-submit {
      @include button();
      background-color: #A62776;
      max-width: 75px;
      float: right;
      }
    }

  &.middle-section-125 {
    .middle-section-heading {
        max-width: none;
      }
    .button-collapse {
      background-color: #ED1E79;
      }

    .power-cleaner-container {
      margin: 40px 0 0;
      }
    .power-cleaner-row{
      margin-bottom: 30px;

      .power-cleaner-row-image {
        @include make-xs-column(3);
        padding-right: 5px;
        div {
          float: right;
          width: 45px;
          text-align: center;
          img {
            margin: 0 auto;
            }
          }
        }

      &:nth-of-type(1) {

        .power-cleaner-row-image{
          padding-top: 25px;
          }
        img {
          height:45px;
          width: auto;
          margin: 0 auto;
          }
        }
      &:nth-of-type(2) {
        .power-cleaner-row-image{
          padding-top: 25px;
          }
        img {
          height:auto;
          width: 30px;
          margin: 0 auto;
          }
        }
      &:nth-of-type(3) {
        .power-cleaner-row-image{
          padding-top: 53px;
          }
        img {
          height:auto;
          width: 45px;
          margin: 0 auto;
          }
        }
      }

    .power-cleaner-row-content {
      @include make-xs-column(9);

      h4{
        color: #ED1E79;
        font-size: 14px;
        text-transform: uppercase;
        }
      p {
        font-size: 12px;
        }
      }
    }

  &.middle-section-154 {
    .container-fluid {
      background-size: 170%;
      background-position: bottom left;
    }
  }
  &.middle-section-179 {
    .container-fluid {
      background-size: 175%;
      background-position: bottom right;
    }
  }

  &.middle-section-154,&.middle-section-179 {
    position: relative;
    .container-fluid {

      background-repeat: no-repeat;
      background-color: #EAE9E5;
      }
    .title-container {
      padding: 80px 0 90px;
      background-color: #eae9e5;
      .middle-section-heading{
        max-width: 220px;
        }
      h3 {
        font-family: 'Perpetua Titling MT';
        color: #B1383D;
        }
      }
    .button-collapse {
      position: absolute;
      background-color: #B1383D;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      top: 194px;
      left: 50%;
      margin-left: -15px;
      }
    .beverage-content-container {
      .text-decoration-container {
        width:150px;
        margin: 0 auto;
        padding: 50px 0;
        img {
          width: 100%;
          height:auto;
          }
        }
      .beverage-content {
        @include make-xs-column(10);
        float: none !important;
        margin: 0 auto 90px;
        p:last-of-type{
          color:#B1383D;
          }
        }
      }
    }

  &.middle-section-186 {
    .container-fluid {
      height:360px;
      background-size: 132%;
      background-position: center;
      background-repeat: repeat;
      }
    .middle-section-heading {
      max-width: none;
      }
    .title-container {
      padding: 70px 0 90px;
      }
    .button-collapse {
      background-color: transparent;
      position: absolute;
      bottom: -110px;
      i {
          font-size: 34px;
        }
      }
    .food-content-container {
      position: relative;
      .food-overlay {
        position: relative;
        margin: 0 auto;
        width: 320px;
        height: 0px;
        bottom: 220px;

        .food-overlay-image {
          display: none;
          }
        .rhubarb {
          background: url('../images/rhubarb_text.png');
          width: 140px;
          height: 80px;
          bottom: -41px;
          left: 20px;
          background-size: cover;
          position: absolute;
          }

        .elderberry {
          background: url('../images/früchte_elderberry_text.png');
          width: 90px;
          height: 90px;
          bottom: -26px;
          left: 52px;
          background-size: cover;
          position: absolute;
          }

        .raspberry {
          background: url('../images/früchte_raspberry_text.png');
          width: 73px;
          height: 103px;
          bottom: -44px;
          left: 120px;
          background-size: cover;
          position: absolute;
          }
        .blueberry {
          background: url('../images/früchte_blueberry_text.png');
          width: 80px;
          height: 110px;
          bottom: -38px;
          left: 174px;
          background-size: cover;
          position: absolute;
          }
        .seasbuckthorn {
          background: url('../images/früchte_seasbuckthorn_text.png');
          width: 90px;
          height: 70px;
          bottom: -8px;
          left: 178px;
          background-size: cover;
          position: absolute;
          }
        .strawberry {
          background: url('../images/früchte_strawberry_text.png');
          width: 83px;
          height: 71px;
          bottom: 0px;
          left: 137px;
          background-size: cover;
          position: absolute;
          }
        }
      .food-heading {
        padding:0 15px;
        margin: 35px 0 250px;

        h3 {
          text-align: center;
          font-family: Gibson-semibold;
          text-transform: uppercase;
          font-size: 26px;
          line-height: 33px;
          color: #BF1B36;
          letter-spacing: 1.2px;
          }
        }
      .food-content-productimg{
        width: 100%;
        position: relative;
        bottom: 138px;
        margin: 0 auto;
        max-width: 320px;
        img {

          width:100%;
          height: auto;
          }
        }
      }
    }


  @media (min-width:420px) {
    &.middle-section-179,&.middle-section-154 {
      .container-fluid {
        background-size: 80%;
      }
    }
  }

  @include breakpoint(phablet) {
    &.middle-section-32 {
      .title-container {
        background-size: cover;
      }
    }
    &.middle-section-97 {
      .title-container {
        .middle-section-heading {
          max-width: 460px;
          }
        }
      .pharma-midsection-column-row {
        .pharma-column-container {
          margin: 80px 0;
          .column-image {
            width:80px;
            }
          .column-title {
            h4{
              font-size:16px;
              }
            }
          .column-content {
            p {
              font-size: 14px;
              }
            }
          }
        .bottom-text-row {
          .bottom-text-container {
            p {
              font-size: 14px;
              }
            }
          }
        }
      }

    &.middle-section-125 {
      .power-cleaner-container {
        margin: 70px 0 0;
        padding-bottom: 40px;
        p {
          font-size: 14px;
        }
      }

      .power-cleaner-row {
        &:nth-of-type(1) {

          .power-cleaner-row-image{
            padding-top: 8px;
            }

          img {
            height: 55px;
            width: auto;
            }
          }
        &:nth-of-type(2) {
          .power-cleaner-row-image{
            padding-top: 8px;
            }

          img {
            height: auto;
            width: 45px;
            }
          }
        &:nth-of-type(3) {
          .power-cleaner-row-image{
            padding-top: 30px;
            }
          img {
            height: auto;
            width: 55px;
            }
          }
        .power-cleaner-row-image {
          padding-right: 15px;
          div {
            width: 55px;
            height: 55px;
            }
          }
        }
      }

    &.middle-section-154,&.middle-section-179 {
      .title-container {
        .middle-section-heading {
          max-width: 620px;
          h3 {
            font-size: 48px;
            }
          }
        }
      .button-collapse {
          padding: 1px 7.4px;
          top: 180px;
            i {
            font-size: 28px;
            line-height: 30px;
            }
        }
      .container-fluid {
        background-size: 80%;
      }
      .beverage-content-container {
        .text-decoration-container {
          width: 220px;
          padding-top: 85px;
          padding-bottom: 65px;
        }
      }
      }



    &.middle-section-186 {
      .title-container {
        background-size: cover;
        background-position: center 64%;
        .middle-section-heading {
          max-width: 490px;
        }
      }


      .container-fluid {
        height: 700px;
      }
      .food-content-container {
        .food-heading {
          padding: 0 15px;
          margin: 100px auto 20px;
          max-width: 420px;
          h3 {
            line-height:40px;
            font-size: 35px;
          }
        }
        .food-overlay {
          width:580px;

          .rhubarb {
            width: 252px;
            height: 144px;
            bottom: -315px;
            left: 0px;
          }

          .elderberry {
            width: 165px;
            height: 162px;
            bottom: -288px;
            left: 105px;
          }
          .raspberry {
            width: 132px;
            height: 185px;
            bottom: -303px;
            left: 209px;
          }
          .blueberry {
            width: 144px;
            height: 198px;
            bottom: -307px;
            left: 380px;
          }
          .strawberry {
            width: 150px;
            height: 128px;
            bottom: -200px;
            left: 260px;
          }
          .seasbuckthorn {
            width: 162px;
            height: 128px;
            bottom: -243px;
            left: 343px;

          }
        }
          .food-content-productimg{
          max-width: none;
          bottom: -180px;

        }
      }

    }

    }
  }