section.product-detail {
  position: relative;
  .product-detail-title {
    @include make-xs-column(8);
    margin: 0 auto;
    background: $pinkcare;
    width:100%;
    float: left;
    text-align: center;
    h3 {
      font-family: 'Gibson-semibold';
      color: white;
      letter-spacing: 1.3px;
      margin-right: 40px;
      margin-left: 40px;
      line-height: 30px
      }
    }
  .product-detail-image {
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    img {
      width: 100%;
      height: auto;
      max-width: 220px;
      }
    }
  .product-column-row {
    .product-column-container {
      @include make-xs-column(6);
      @include make-sm-column(3);
      text-align: center;
      border:2px solid #f5f5f5;
      border-bottom: none;
      border-right: none;
      height:210px;
      padding: 30px 0;
      &:nth-of-type(even){
        border-right:2px solid #f5f5f5;
        }
      .column-image {
        text-align: center;
        margin-bottom: 25px;
        img {
          height: 35px;
          width: 35px;
          }
        }
      .column-title {
        max-width: 100px;
        margin: 0 auto;
        height: 30px;
        margin-bottom: 15px;
        h4 {
          font-size: 13px;
          }
        }
      ul {
        padding-left: 0px;
        list-style: none;
        li {
          font-size: 12px;
          }
        }
      }
    }
  &.product-detail-71{
    .product-detail-title{
      background-color: #018FA7;
      }
    }
  &.product-detail-97 {
    .product-detail-title{
      background-color: #008BD6;
      }
    }
  @include breakpoint(phablet) {
    .product-detail-title {
      .container-fluid {
        max-width: 630px;
        }
      h3 {
        font-size: 35px;
        line-height: 38px;
        margin: 60px 0;
        }
      }

    &.product-detail-97 {
      .product-detail-image {
        img {
          max-width: 574px;
          }
        }
      }

    }

    .product-detail-image {
      img {
        max-width: 330px;
        }
      }

    .product-column-row {
      .product-column-container {
        &:nth-of-type(2) {
          border-right:none;
          }
        }
      }

  }