.article-7, .article-238 {
  .row {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .background {

    background-color: $blue;
    background-repeat: no-repeat;
    background-size: 210%;
    background-position: 25% 2%;
  }
  .left-container {
    @include make-sm-column-offset(1);
    @include make-sm-column(10);
    padding-left: 0px;
    padding-right: 0px;
    h2 {
      display: block;
      max-width: 260px;
    }
    .main-text-container {
      margin-top: 180px;

      p {
        strong {
          color: white;
        }
      }
    }
  }
  .list-container {
    margin-top: 60px;
    display: none;
    .list-row {
      display: inline-block;
      font-size: 12px;
      width: 180px;
      list-style: none;
      font-family: $font-oblique;
      .list-content {
        float: left;
        margin-bottom: 10px;
        }
      .list-number {
        float: left;
        display: inline-block;
        background-color: $red;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 10px;
        line-height: 20px;
        font-family: $font-black;
        margin-right: 10px;
      }
      .list-text {
          float: left;
          padding-top: 3px;
        }
    }

    span {
      font-family: $font-oblique;
    }
  }
  @media (min-width: 480px) and (max-width: $screen-sm-min) {
    .background {
      background-size: 136%;
    }
  }
  @include breakpoint(phablet) {
    min-height: 0px;
    .row {
      margin-top: 230px;
      margin-bottom: 0px;
    }
    .background {
      background-position: 45% 8%;
      background-size: 168%;
    }
    .list-container {
      padding-left: 0px;
      display: block;
    }
    .left-container {
      margin-top: 0px;
      h2 {
        max-width: 340px;
      }
      .main-text-container {
        margin-top: 170px;
        margin-bottom: 50px;
        @include make-sm-column(8);
        padding-left: 0;
        width: 100%;
      }
      .list-container {
        margin-top: 170px;
        @include make-sm-column(4);
        padding-right: 0;
      }
    }
  }

  @include breakpoint(tablet) {
    .row {
      margin-top: 350px;
      margin-bottom: 140px;
    }
    .left-container {
      margin-bottom: 0;
      @include make-sm-column(7);
      padding: 0;
      h2 {
        max-width: 100%;
      }
      .main-text-container {
        max-width: 380px;
        margin-top: 100px;
        margin-bottom: 60px;
      }
      .list-container {
        //margin-top: 60px;
        width: 80%;
        padding: 0;
      }
    }
  }
}