.article-2 {
  background-color: $blue;
  .row {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .left-container {

    @include make-sm-column-offset(1);
    @include make-sm-column(5);
    padding-left: 0;
    padding-right: 0;

    h2{
      display: block;
      max-width: 70%px;
    }
    div {
      margin-top: 50px;

      p {
        strong {
          color: white;
        }
      }
    }
  }
  .right-container {
    @include make-sm-column-offset(1);
    @include make-sm-column(3);
    padding-left: 0;
    padding-right: 0;
    margin-top: 70px;
    display: flex;

    .rax-cross {
      margin: 30px 3px;
      &:before {
        width: 40%;
        margin-left: -20%;
      }
      &:after {
        height: 40%;
        margin-top: -20%;
      }
    }
  }
}


.rax-image-right {
  max-width: 80px;
  margin: 0 auto;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
  }
}

.rax-cross {
  height: 16px;
  width: 16px;
  margin: 32px 4px;
  position: relative;

  z-index: 1;
  &:before, &:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: $red;
  }
  &:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
  }
  &:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
  }
}


@include breakpoint(phablet) {
  .article-2 {
    min-height:0px;
    .row {
        margin-top: 150px;
        margin-bottom: 105px;
    }
    .left-container {
      margin-top: 90px;
      div {
        margin-top: 55px;
      }
    }
    .right-container {
      margin-top: 20px;
      display: block;
    }
  }
  .rax-image-right {
    display: block;
    max-width: 160px;
    float: none;
  }

  .rax-cross {
    width: 32px;
    height: 32px;
    margin: 20px auto !important;
    &:before {
      width: 30% !important;
      margin-left: -15% !important;
    }
    &:after {
      height: 30% !important;
      margin-top: -15% !important;
    }
  }
}


@include breakpoint(tablet) {
  .article-2 {
    .row {
      margin-top: 110px;
      margin-bottom: 110px;
    }
    .left-container {
      div {
        margin-top: 110px;
      }
    }
    .right-container {
      margin-top: 10px;
    }
  }

}