
.article-15, .article-266 {
  background-color: $blue;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  .row {
    margin-top: 20px;
    margin-bottom: 170px;
  }
  .background {
    background-size: 398%;
    background-position: 44% 100%;
    background-repeat: no-repeat;
  }
  .left-container {
    @include make-sm-column-offset(1);
    @include make-sm-column(6);
    @include make-xs-column(9);
    padding-left: 0px;
    padding-right: 0px;
    div {
      max-width: 270px;
      margin-top: 40px;
    }
    p {
      font-weight: normal;
      font-size: 12px;
      strong {
        color: white;
      }
    }
    ul {
      margin-top: 40px;
      li {
        padding-left: 10px;
      }
    }
  }
}

@include breakpoint(phablet) {
  .article-15, .article-266 {
    min-height: 0px;
    overflow: hidden;

    .row {
      margin-top: 90px;
      margin-bottom: 110px;
    }
    div.background {
      background-size: 235%;
      background-position: center bottom;
      width: 1550px;
      left: inherit;
      right: -71%;
    }
    .left-container {
      margin-bottom: 190px;
      padding-left: 0px;
      font-size: 16px;
      div {
        margin-top: 60px;
        max-width: 72%;
        h2{
          font-size:50px;
          line-height: 55px;
        }
        ul {
          margin-top: 40px;
          font-size: 16px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}

@include breakpoint(tablet) {
  .article-15, .article-266 {
    .row{
      margin-top: 110px;
    }
    div.background {
      background-size: contain;
      background-position: center bottom;
      width: 5300px;
      height: 920px;
      left: 50%;
      right: inherit;
      bottom: -27px;
      margin-left: -2560px;
      top: inherit;
    }
    .left-container {
      margin-bottom: 130px;
      div {
        margin-top: 50px;
        max-width: 290px;
        ul {
          margin-top: 50px;
        }
      }
    }
  }
}