.article-122 {
  min-height: 675px;
  overflow: hidden;


  .row {
    margin-top: 15px;
    margin-bottom: 80px;
    }
  .left-container {
    @include make-sm-column-offset(1);
    @include make-sm-column(5);
    @include make-xs-column(8);
    padding-left: 0px;
    padding-right: 10px;

    div {
      margin-top: 70px;
      p {
        font-size: 12px;
        margin-bottom: 20px;
        }
      ul {
        li {
          &:before {
            position: absolute;
          }
          span{
            padding-left: 25px;
            display: block;
          }
        }
      }
      }
    }
  .timeline {
    width: 98px;
    height: 310px;
    right: 4%;
    top: 27.5%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .background {
    top: 76%;
    right: -16.5%;
    left:inherit;
    width: 490px;
    height: 260px;
    background-size: cover;
    position: absolute;
    margin:0 auto;
  }


  @media (min-width: 350px) and (max-width: 380px) {
    .background {
      right: -15%;
    }
  }
  @media (min-width: 380px) and (max-width: $screen-sm-min) {
    .background {
      right: -13%;
    }
  }

  @include breakpoint(phablet) {
    min-height: 1020px;
    .row {
      margin-top: 55px;
      margin-bottom: 210px;
    }
    .background {
      top: 67%;
      right: -1.5%;
      left: inherit;
      width: 814px;
      height: 371px;
    }
    .timeline {
      width: 220px;
      height: 545px;
      right: 8%;
      top: 11.5%;
    }
    .left-container {
      div {
        margin-top: 55px;

        p, ul li span {
          font-size: 18px;
        }
        p {
          margin-bottom: 60px;
        }
      }
    }
  }


}