.article-10, .article-259 {
  background-color: #fff;
  //margin-top: -150px;
  h2 {
    color: $blue;
  }
  .row {
    margin-top: 80px;
    margin-bottom: 82px;
  }
  .container-fluid {
    position: relative;
  }
  .title-container {
    @include make-sm-column-offset(1);
    @include make-sm-column(7);
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 90px;

    h2 {
      max-width: 265px;
    }

    div {
      margin-top: 25px;

    }

  }
  //.left-container {
  //  @include make-sm-column-offset(1);
  //  @include make-sm-column(6);
  //  @include make-md-column-offset(0);
  //  @include make-md-column(4);
  //  margin-bottom: 30px;
  //  div {
  //    max-width: 310px;
  //  }
  //}
  .right-container {
    @include make-sm-column-offset(1);
    @include make-sm-column(8);
    padding-left: 0;
    padding-right: 0;
    float: none;
  }

  .background {
    //left: 8.3333333333%;
    //right: 8.3333333333%;
    width: 100%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: bottom;
    bottom: -110px;
    position: absolute;
  }
  h3 {
    font-family: $font-black;
    font-weight: 300;
    color: $red;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    color: #000;
    strong {
      color: $red
    }
  }

  //span {
  //  color: $blue;
  //  font-size: 17px;
  //  font-family: "AvenirLTStd-Heavy";
  //}

  .items-container {

    //@include make-xs-column(6);

    width: 100%;
    float: left;

    div {
      position: relative;
      margin-bottom: 20px;
      float: left;
      width: 50%;
      height: 50px;
      &:nth-of-type(2),&:nth-of-type(4) {
        padding-left: 10px;
      }
    }
    .item__label {
      color: $purple;
      font-size: 12px;
      font-family: $font-heavy;
      font-weight: bold;
      position: absolute;
      width: 135px;
    }


  }

  @include breakpoint(phablet) {
    .row {
      margin-top: 130px;
      margin-bottom: 370px;
    }
    .title-container {
      margin-bottom: 60px;
      h2 {
        max-width: 100%;
      }
    }
    //.title-container,
    //.left-container,
    //.right-container {
    //  padding-left: 0px;
    //}
    .background {
      background-size:100%;
      background-color: transparent;
      bottom: -4px;
      left: 8.3333333333%;
      right: 8.3333333333%;
      width: 83.3333333333%;
    }
    h2 {
      margin-top: 0px;
      font-size: 50px;
      line-height: 55px;
    }
    h3 {
      font-size: 50px;
    }
    .items-container{
      div {
        margin-bottom: 60px;
      }
      .item__label {
        position: static;
        font-size: 18px;
      }
    }


    //.left-container {
    //  div {
    //    display: none;
    //  }
    //}
  }

  @include breakpoint(tablet) {
    .row {
      margin-top: 149px;
      margin-bottom: 277px;
    }
    .background {
      background-size: contain;
      width: 805px;
      margin: 0 auto;
      bottom: -94px;
    }
    .title-container {
      @include make-md-column(8);
      margin-bottom: 101px;
      padding-left: 0;
      padding-right: 0;
      h2 {
        font-size: 60px;
        line-height: 65px;
      }
    }
    .right-container {
      @include make-md-column(10);
      @include make-md-column-offset(1);
      padding-left:0px;

      float: left;
      max-width: none;
      .items-container {
        margin-left: -15px;
        div {
          @include make-md-column(4);
          margin-bottom: 77px;

        }
      }
    }
    .left-container {
      margin-top: 50px;
      float: right !important;
      margin-right: 8.3333333333%;
      max-width: none;
      @include make-md-column-offset(0);
      @include make-md-column(4);
    }

    h3 {
      color: $red;
      font-size: 60px;
    }
    p {
      color: #000;
      strong {
        color: $red
      }
    }
  }
  @media (max-width: $screen-sm-min) {
    background-color: #fff;
    .row {
      margin-bottom: 145px;
    }
    .background {
      bottom: -4px;
      background-color: #fff;
    }

  }
  @media (min-width: 480px) and (max-width: $screen-sm-min) {
    .background {
      bottom: -100px !important;
      background-size: 94%;
    }
  }


}