.article-105 {
  background-color: white;
  color: white;
  .row {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .title-container {
    max-width:175px;
     h2 {
        color: $blue;
       strong {
         color: $red;
         }
       }
      margin-bottom: 80px;
    }
  .products {
    @include make-sm-column-offset(1);
    @include make-sm-column(10);

    .product-list {
      width:20%;
      float: left;
      color: #fff;

      &:nth-of-type(odd) {
        background-color: #5569A0;
        }
      &:nth-of-type(even) {
        background-color: #20335F;
        }
      }
      .product-item {

        height:80px;
        width: 100%;
        padding: 0 15px;
        text-align: center;
        font-family: 'AvenirLTStd-Black';
        display: table;
        span {
            display: table-cell;
            vertical-align: middle;
            font-size: 10px;
          }
        }
      &.products-mobiledown {
        .product-list-category{
          display: block;
          float: left;
          padding: 20px 10px;
          font-size:10px;
          width:100%;
          font-family: 'AvenirLTStd-Black';
          color: #fff;
          position: relative;
          i {
              position: absolute;
              right: 10px;
              top: 16px;
              font-size: 20px;
            }
          &:hover, &:active, &:focus {
            text-decoration: none;
            }
          &:nth-of-type(odd) {
            background-color: #5569A0;
            }
          &:nth-of-type(even) {
            background-color: #20335F;
            }
          }
        .product-list {
            width: 100%;
          &:nth-of-type(odd) {
            background-color: #20335F;
            }
          &:nth-of-type(even) {
            background-color: #5569A0;
            }
          }
        }


    }

  @include breakpoint(tablet) {
    .products {
        .product-item {
          span {
              font-size: 14px;
            }
          }
      }
    }
}