.article-185, .article-289 {
  background-color: white;
  .row {
    margin-top: 35px;
    margin-bottom: 20px;
    .left-container{
      h2{
        margin-bottom: 50px;
        color: $blue;
        strong{
          color: $red;
        }

      }
      p{
        font-size: 12px;
        color: #1E325F;
      }
      @include make-xs-column(8);
      @include make-sm-column-offset(1);
      padding-left: 0;
      padding-right: 15px;
    }
  }
  @include breakpoint(phablet) {
    min-height: 0px;
    .row{
      margin-top: 135px;
      margin-bottom: 120px;

      .left-container {
        h2{
          font-size: 40px;
          line-height: 45px;
          margin-bottom: 70px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  @include breakpoint(tablet) {
    .row {
      margin-top: 161px;
      margin-bottom: 155px;
      .left-container {
        float: none;
        width: 100%;
        padding-right: 0px;

        max-width: 620px;
        margin: 0 auto;
        text-align: center;
        h2{
          font-size: 60px;
          line-height: 65px;
          margin-bottom: 105px;
          max-width: none;
        }

      }
    }
  }
}