.article-96, .article-255{
  overflow: hidden;
  .row {
    margin-top: 380px;
    margin-bottom: 0px;
  }
  .background {
    background-position: top right;
    background-size: 78%;
    top: 20px;
    right: -55%;
  }
  .left-container {
    @include make-sm-column(6);
    @include make-sm-column-offset(1);
    padding-left: 0;
    padding-right: 0;
    div {
      margin-top: 35px;

    }
    ul {
      margin-top: 35px;
      li{
        &:before {
          margin-right: 15px;
        }
      }
    }
  }
  @include breakpoint(phablet) {

    min-height: 0px;

    .row {
      margin-top: 255px;
      margin-bottom: 240px;

    }
    .background {
      background-size: cover;
      top: 22%;
      right: inherit;
      height: 610px;
      width: 609px;
      left: 66%;
    }
    .left-container {
      margin-top: 60px;
      ul {
        margin-top: 55px;
      }
    }
  }
  @include breakpoint(tablet) {
    .row {
      margin-top: 460px;
    }
    .background {
      top:-36%;
      }
  }
  @media (max-width: $screen-sm-min) {
      .row {
        margin-bottom: 100px;

        .left-container {
          div {
            p {
              font-size: 12px;
            }
          }
        }
        }
      .background {
        background-size: cover;
        top: 15px;
        left: inherit;
        right: -190px;
        width: 385px;
        height: 386px;
       }
    }

}