.article-96 {
  overflow: hidden;
  .row {
    margin-top: 380px;
    margin-bottom: 0px;
  }
  .background {
    background-position: top right;
    background-size: 78%;
    top: 20px;
    right: -55%;
  }
  .left-container {
    @include make-sm-column(6);
    @include make-sm-column-offset(1);
    padding-left: 0;
    padding-right: 0;
    div {
      margin-top: 35px;
    }
    ul {
      margin-top: 35px;
    }
  }
  @include breakpoint(phablet) {
    .row {
      margin-top: 360px;
    }
  }
  @include breakpoint(tablet) {
    .row {
      margin-top: 460px;
    }
    .background {
      top:-36%;
      }
  }
  @media (max-width: $screen-sm-min) {
      .row {
        margin-bottom: 90px;
        }
      .background {
       background-size: 70%;
       top: 20px;
       right: -55%;
       }
    }

}