.article-18, .article-277 {
  background-color: white;
  .row {
    margin-top: 85px;
    margin-bottom: 40px;
  }
  .left-container {
    @include make-sm-column-offset(1);
    @include make-sm-column(5);
    padding-left: 0;
    padding-right: 0;
    .title-container {
      h2 {
        color: $blue;
        strong {
          color: #FF3C46;
        }
      }
    }
    .text-container {
      margin-top: 45px;
      p {
        font-size: 12px;
        span{
          color: #1E325F;
          strong {
            color: #1E325F;
          }
        }

      }
    }
  }
  .right-container {
    @include make-sm-column(5);
    @include make-md-column-offset(0);
    @include make-md-column(5);
    padding-left: 0;
    padding-right: 0;
    margin-top: 60px;
    span {
      display: block;
      font-size: 10px;
      font-family: "AvenirLTStd-Oblique";

      &.person--name {
        font-family: "AvenirLTStd-Heavy"

      }
    }
  }
  .person-text {
    margin: 15px 0;
    position: absolute;
    margin-left: -66px;
    width: 132px;
    left: 50%;

    span {
      color: #1E325F;
      strong {
        color:#1E325F !important;
        font-family: "AvenirLTStd-Oblique";
      }
    }
  }
  .person-image-right {
    max-width: 120px;
    display: inline-block;
    img {
      width: 100%;
      height: auto;
    }
  }
  .person-content {
    @include make-xs-column(6);
    text-align: center;

    height: 200px;

  }

  @include breakpoint(phablet) {
    min-height: 0px;
    .row {
      margin-top: 90px;
      margin-bottom: 80px;
    }
    .left-container {
      margin-top: 70px;
      padding-left: 0px;
      .title-container {
        max-width: 234px;
        h2{
          font-size: 50px;
          line-height: 55px;
        }
      }
      .text-container {
        max-width: 288px;
        margin-top: 50px;
        margin-bottom: 50px;
        p{
          font-size: 18px;
        }
      }
    }
    .right-container {
      margin-top: 0px;
      .person-container {

        margin: 0 auto;

      }
      .person-content {
        float: left;
        width: 100%;
        margin-bottom: 25px;
        margin-right: 0;
        padding: 0;
        height: auto;
        text-align: left;
        &:nth-of-type(odd) {
          margin-right: 20px;
        }
      }
      .person-image-right {
        max-width: 114px;
        margin: 0 auto;
      }
      .person-text {
        display: inline-block;
        text-align: left;
        margin-left: -28px;
        margin-top: 46px;
        width: 170px;
        span {
          display: block;
          width: 100%;
          font-size: 12px;
        }
      }
    }
  }

  @include breakpoint(tablet) {

    .right-container {
      .person-image-right {
        max-width: 120px;
      }
    }
    .left-container {
      .text-container {
        margin-top: 100px;
      }
    }
  }
}