.article-118, .article-285 {
  overflow: hidden;
  min-height:535px;


  .background {
    max-width: 1200px;
    margin: 0 auto;
    background-position: 80% 48%;
    background-size: 28%;
    }

  .row {
    margin-top: 0px;
    margin-bottom: 40px;
    }
 .left-container {
   @include make-sm-column-offset(1);
   @include make-sm-column(5);
   @include make-xs-column(8);
   padding-left: 0;
   padding-right: 0;
   div {
      margin-top: 70px;
      p {

          margin-bottom: 30px;
        }
     }
   }
  @include breakpoint(phablet) {
    .row {
      margin-top: 200px;
      margin-bottom: 210px;
    }
    .background {
      width: 437px;
      margin: 0;
      right: -16%;
      top: -29%;
      background-position: center;
      background-size: cover;
      left: inherit;
    }
    .left-container {
      max-width: 305px;
      div {
        margin-top: 60px;
      }
      h2 {
        font-size: 50px;
        line-height: 55px;
      }
    }
  }

  @include breakpoint(tablet) {
    .row {
      margin-top: 100px;
      margin-bottom: 114px;
    }
    .background {
      width: 3030px;
      height: 1760px;
      margin: 0;
      right: inherit;
      left: 50%;
      margin-left: -394px;
      top: -44.3%;
      background-size: contain;
      background-position: center
      }
    .left-container{
      max-width:none;
      h2{
        font-size: 60px;
        line-height: 65px;
      }
      div{
        margin-top: 105px;
        max-width: 305px;
      }
    }
    }


  @media (max-width: $screen-sm-min) {
    padding: 30px 0px;
    .row {
      margin-top: 0px;
      margin-bottom: 10px;

      .left-container {
        div {
          margin-top: 50px;
          margin-bottom: 125px;
          p {
            font-size: 12px;
            margin-bottom: 10px;
          }
        }
      }
      }

      .background {
        background-position: center;
        background-size: contain;
        width: 260px;
        height: 885px;
        left: 74%;
        top: -44%;
        right: -32%;
        margin-left: -94px;

      }

    }

}