.article-122 {
  min-height:0;
  overflow: hidden;
  .background {
    top: 5%;

    max-width: 1200px;
    margin:0 auto;
    height: 110%;

    }

  .row {
    margin-top: 110px;
    margin-bottom: 160px;
    }
  .left-container {
    @include make-sm-column-offset(1);
    @include make-sm-column(5);
    @include make-xs-column(8);

    div {
      margin-top: 70px;
      p {
        margin-bottom: 30px;
        }
      }
    }
  @include breakpoint(tablet) {
    .background.hidden-xs {
        background-position-x: 33%;
      }
    }

  @include breakpoint(desktop) {
    .left-container {
      padding-left: 0px;
    }
    .background.hidden-xs {
      background-position-x: 25%;
      }
    }
  @media (max-width: $screen-sm-min) {
    min-height: 675px;
    .row {
      margin-top: 15px;
      margin-bottom: 80px;
      }
    .left-container {
      padding-left: 0px;
      padding-right: 10px;
      div {
        margin-top: 45px;
      }
      p {
        font-size: 12px;
        margin-bottom: 20px;
      }
      ul{
        li{
          &:before {
            position: absolute;
          }
          span{
            padding-left: 25px;
            display: block;
          }
        }
      }
    }
    .background {
      top: 76%;
      right: -16.5%;
      left:inherit;
      width: 490px;
      height: 260px;
      background-size: cover;
      position: absolute;

    }
    .timeline {
      width: 98px;
      height: 310px;
      right: 4%;
      top: 27.5%;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  @media (min-width: 350px) and (max-width: 380px) {
    .background {
      right: -15%;
    }
  }
  @media (min-width: 380px) and (max-width: $screen-sm-min) {
    .background {
      right: -13%;
    }
  }
}