.article-112 {
  background-color: white;
  h2, p, ul li {
    color: $blue
    }
  h2{
    display: block;
    max-width: 200px;
    margin-bottom: 400px;
    font-size: 30px;
    line-height: 35px;
  }
  p,ul li {
    font-size: 12px;
  }
  .row {
    margin-top: 105px;
    margin-bottom: 140px;
    }
  .background{
    max-width: 400px;
    margin: 0 auto;
    background-size: 52%;
    background-position: center 45%;
    background-color: transparent;
    }
  .left-container {
    @include make-sm-column-offset(1);
    @include make-sm-column(6);
    padding-left: 0;
    padding-right: 0;
    h2 {

      margin-bottom: 300px;
      }
    ul {
      margin-top: 40px;
      li {
        span {
          color: $blue;
        }
      }
      }
    }
  @include breakpoint(phablet) {
    min-height: 0px;

    .left-container {
      div {
        max-width: 290px;
      }
      h2 {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 60px;
        max-width: 315px;
      }
      p, ul li {
        font-size: 18px;
      }
    }

    .row {
      margin-top: 40px;
      margin-bottom: 155px;
    }
    .background {
      width: 207px;
      height: 225px;
      margin: 0;
      right: 14.5%;
      top: inherit;
      bottom: 205px;
      left: inherit;
      background-size: cover;
      background-position: center;
      background-color: transparent;
    }
  }
  @include breakpoint(tablet) {
    .row {
      margin-top: 80px;
      margin-bottom: 120px;
      }
    .background{
      background-position: 95% 100%;
      background-size: 36%;
      }
    }

}