.article-122 {
  min-height:0;
  overflow: hidden;
  .background {
    top: 5%;
    background-size: cover;
    max-width: 1200px;
    margin:0 auto;
    height: 110%;

    }

  .row {
    margin-top: 110px;
    margin-bottom: 160px;
    }
  .left-container {
    @include make-sm-column-offset(1);
    @include make-sm-column(5);
    @include make-xs-column(8);

    div {
      margin-top: 70px;
      p {
        margin-bottom: 30px;
        }
      }
    }
  @include breakpoint(tablet) {
    .background.hidden-xs {
        background-position-x: 33%;
      }
    }

  @include breakpoint(desktop) {
    .background.hidden-xs {
      background-position-x: 25%;
      }
    }
  @media (max-width: $screen-sm-min) {
    .row {
      margin-bottom: 80px;
      }
    .background.visible-xs {
      background-size: 115%;
      background-position: 55% 46%;
      max-width: 550px;
      }
  }
  @media (min-width: 380px) and (max-width: $screen-sm-min) {
    .background.visible-xs {
      background-size: 100%;
      background-position: 39% 39%;
      max-width: 350px;
      left: 20%;
      }
    }
}