.language-switcher {
  padding-left: 0;
  margin: 0;
  margin-right: auto;
  &__item {
    background: #FF3C46;
    display: block;
  }
  &__link {
    text-transform: uppercase;
    padding: 8px 7px;
    color: white;
    font-family: "AvenirLTStd-Black";
    font-size: 11px;
    vertical-align: text-top;
    display: inline-block;
    line-height: 1;
    &:hover, &:focus, &:active {
      color: inherit;
    }
  }
  @include breakpoint(phablet) {
    padding-left: 20px;
  }
  @include breakpoint(tablet) {
    margin-left: 8.3333333333%;
    padding-left: 0;
    //padding-left: 30px;
  }
}