.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  color: white;
  font-size: 13px;
  h2 {
    font-family: "Gibson-semibold";
    font-size: 22px;
  }
  &__inner {
    overflow: visible;
    position: relative;
    margin-top: 90px;
  }
  &__close {
    position: absolute;
    right: 15px;
    top: -65px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 25px;
      width: 2px;
      background-color: #D0021B;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }

  }
  @include breakpoint(phablet) {
    &__inner {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 150px;
    }
  }
}