@font-face {font-family: 'Gibson-regular';src: url('../fonts/Canada Type - Gibson-Regular.otf'); format: ('embedded-opentype');}

@font-face {font-family: 'Gibson-semibold';src: url('../fonts/Canada Type - Gibson-Semibold.otf'); format: ('embedded-opentype');}

@font-face {font-family: 'Droid Serif Italic';src: url('../fonts/DroidSerif-Italic.ttf'); format: ('truetype');}

@font-face {font-family: 'SFns Regular';src: url('../fonts/sfns-regular.ttf'); format: ('truetype');}

body {

  h1, h2, h3, h4, h5{
    font-family: 'Gibson-semibold';
    }
  p, ul li, span, a {
    font-family: 'Gibson-regular';
    }
  .sidebar {
    display: none;
    }
  .container {
    width: 100% !important
    }
  }