// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$blue: #1e325f;
$red: #FF3C46;
$yellow: #ffed05;
$purple: #5569A0;
$lightgrey: #F2F2F2;

//Fonts
$main-font:  'Open Sans';

$font-oblique: 'AvenirLTStd-Oblique';
$font-heavy: "AvenirLTStd-Heavy";
$font-black: 'AvenirLTStd-Black';
$font-regular: 'AvenirLTStd-Roman';