// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$blue: #20335F;
$red: #FF3C46;
$yellow: #ffed05;

$lightgrey: #F2F2F2;

//Fonts
$main-font:  'Open Sans';

//Breakpoints
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $screen-lg-min) {
      @content;
      }
    } @else if $point == tablet {
    @media (min-width: $screen-md-min) {
      @content;
      }
    } @else if $point ==  phablet {
    @media (min-width: $screen-sm-min) {
      @content;
      }
    } @else if $point ==  mobile {
    @media (min-width: $screen-xs-min) {
      @content;
      }
    } @else if $point ==  mobile-max {
    @media (max-width: $screen-xs-max) {
      @content;
      }
    } @else {
    @media (max-width: $point) {
      @content;
      }
    }

  }