// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$blue: #20335F;
$red: #FF3C46;
$yellow: #ffed05;

//Fonts
$main-font:  'Open Sans';
