footer {
  .site-link {
    background-color: #f5f5f5;
    text-align: center;
    padding:40px 0;
    span {
        font-size: 12px;
        color: #000;
        font-family: 'Droid Serif Italic';
        width: 100%;
        display: block;
      }
    a {
        font-family: 'SFns Regular';
        letter-spacing: 1.3px;
        font-size: 15px;
        color: #B73F89;
        text-transform: uppercase;
      }
    }
  .footer-content {
    text-align: center;
    .container-fluid {
      padding: 10px 0 15px;
      }
    span, a {
      color: #000;
      font-size:10px;
      text-transform: uppercase;
      font-family: 'Gibson-semibold';
      }
    .footer-logo {
      margin-bottom: 10px;
      img {
        width:100%;
        height:auto;
        max-width: 120px;
        }
      }
    &:before {
      content: '';
      display: block;
      background-image: url('../images/stripes-line-mobile.jpg');
      -webkit-background-size:100%;
      background-size:100%;
      background-repeat: no-repeat;
      top:0;
      height:10px;
      width: 100%;
      }
    }

  @include breakpoint(tablet) {

    .site-link {
      span {
         font-size: 17px;
        }

      a {
          font-size: 24px;
        }
      }

    .footer-content {
      position: relative;
      .footer-link {
        position: absolute;
        right: 40px;
        bottom: 48px;
        }
      .copyright-text {
        position: absolute;
        left: 40px;
        bottom: 48px;
        }
      .footer-logo {
        margin-top: 20px;
        margin-bottom: 20px;
        }
      }
    }

  }