article{
  padding:40px 15px;

  h2{
    color: $red;
    font-weight: bold;
    font-size: 50px;
    }
  ul,li,span,p{
    color: #fff;
    strong{
      color: $red;
      }
    }
  p,ul{
    font-style: italic;
    }

  &#article-2{
      background-color: $blue;
  }

  &#article-7{
    background-image: url('../../../../uploads/2016/09/Map1.jpg');
    -webkit-background-size: cover;
    background-size:cover;
    background-repeat: no-repeat;
    .left-container {
      margin: 40px 0;
    }
  }

  &#article-10{
    background-color: #5669A0;
    background-image: url('../../../../uploads/2016/09/Infografik.png');
    background-size:100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    p,h3,span{
      color: #fff;
    }

    .items-container{
      @include make-xs-column(6);
    }
  }

  &#article-15{
    background-image: url('../../../../uploads/2016/09/page2.jpg');
    background-color: $blue;
    -webkit-background-size: 100%;
    background-size:100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    .left-container {
      margin: 200px 0;
    }
  }



  .left-container,.right-container{
    @include make-xs-column(6);
  }
  .left-container{
    div{
      margin-top: 40px;
    }
  }
  .rax-image-right{
    max-width: 190px;
    margin: 0 auto;
    img{
          width:100%;
          height:auto;
        }
    }

  .rax-cross {
    width: 50px;
    height: 50px;
    position: relative;
    margin:40px auto;
    z-index:1;
      &:before, &:after{
          content: "";
          position: absolute;
          z-index: -1;
          background: $red;
        }
      &:before {
        left: 50%;
        width: 30%;
        margin-left: -15%;
        height: 100%;
        }
      &:after {
        top: 50%;
        height: 30%;
        margin-top: -15%;
        width: 100%;
        }
    }

}

