.page {
  &--person {
    margin-bottom: 40px;
  }

  &__header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% center;
    height: 100px;
  }
  &__col {
    @include make-sm-column(4);
    position: relative;
    margin-top: 30px;
    &:last-child {
      margin-bottom: 40px;
    }
  }
  &__tag {
    font-family: $font-din;
    @include font-size(1.4);
    color: $purple;
  }
  &__title {
    @include font-size(3);
    margin-top: 15px;
    font-family: $font-din-bold;
    margin-bottom: 15px;
  }
  &__subheader {
    margin-top: 20px;
    font-weight: bold;
    line-height: 2.5rem;
  }
  &__links {
    display: none;
    i {
      margin-right: 5px;
      font-size: 12px;
    }
    color: $blue;
    top: 140px;
    position: absolute;
    right: 15px;
    width: 165px;
  }
  .row {
    position: relative;
  }

  &__contact {
    padding: 0 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    form {
      margin-top: 30px;
    }
    label {
      font-weight: normal;
      width: 100%;
      margin-bottom: 15px;
    }
    .wpcf7-form-control-wrap {
      margin-top: 5px;
      display: inline-block;
      width: 100%;
      input, textarea {
        width: 100%;
        border: 1px solid #d9dadb;
        padding: 5px;
      }
    }
    .wpcf7-submit {
      background: transparent;
      display: inline-block;
      padding: 7px 35px;
      margin-bottom: 10px;
      border: 2px solid $purple;
      border-radius: 3px;
      color: $purple;
      @include std-stransition;
      &:hover {
        text-decoration: none;
        color: white;
        background: $purple;
      }
    }
    div.wpcf7-response-output {
      margin: 0;
      margin-top: 15px;
    }
  }
  &--faq {
    &__image {
      img {
        max-width: 100%;
      }
    }
  }
}

@include breakpoint(phablet) {
  .page {
    &__header {
      //background-position: center center;
      height: 200px;
    }
    &__content {
      margin-top: 45px;
    }
    &__col {
      margin-top: 75px;
      &:last-child {
        margin-bottom: 80px;
      }
    }
    &__links {
      display: inline-block;
    }

    &__contact {
      @include make-sm-column(8);
      .page__title {
        margin-top: 60px;
      }
      form {
        margin-top: 30px;
      }
    }
    &--faq__image {
      padding: 0 60px;
    }
    &--faq__content {
      padding-left: 18.75%;
      padding-right: 18.75%;
    }
  }

}

@include breakpoint(tablet) {
  .page {
    &__header {
      height: 300px;
    }

  }
}