<footer class="content-info">
    <div class="container-fluid">
        {{ function('dynamic_sidebar', 'sidebar-footer') }}
        <div class="footer-wrapper">
            <div class="footer-logo"></div>
            <nav class="nav-footer">
                <ul>
                    <li class=""><a class="nav-footer__link" href=""><font><font>imprint</font></font></a>

                    </li>
                    <li class=""><a class="nav-footer__link" href=""><font><font>Privacy Policy</font></font></a>

                    </li>
                    <li class=""><a class="nav-footer__link" href=""><font><font>contact</font></font></a>

                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>

{{ function('wp_footer') }}
