<footer class="content-info">
    <div class="container-fluid">
        <div class="row">
            <div class="site-link">

                    <span>for more possibilities and information visit</span>
                    <a href="">www.rakoinnovations.com</a>

            </div>
        </div>
    </div>
    <div class="footer-content">
            <div class="container-fluid">
                <div class="footer-logo">
                    <img src=" {{ function('get_site_url') }}/wp-content/uploads/2016/09/rako_logo_footer.png " alt="">
                </div>
                <div class="footer-link">
                    <a href="">Imprint</a>
                </div>
                <div class="copyright-text">
                    <span>©2016 RAKO GROUP</span>
                </div>
            </div>
        </div>
    </div>

</footer>

{{ function('wp_footer') }}
