<footer class="content-info">
    <div class="container-fluid">
        {{ function('dynamic_sidebar', 'sidebar-footer') }}
        <div class="footer-wrapper">
            <div class="footer-logo"></div>
            <nav class="nav-footer">
                <ul>
                    <li class=""><a class="nav-footer__link fancybox" href="#data"><font>Next Label Group 2016</font></a>

                    </li>
                    <li class=""><a class="nav-footer__link fancybox" href=""><font>Privacy Policy</font></a>

                    </li>
                    <li class=""><a class="nav-footer__link fancybox" href=""><font>contact</font></a>

                    </li>
                </ul>
            </nav>
            <div style="display:none"><div id="data">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></div>
        </div>
    </div>
</footer>

{{ function('wp_footer') }}
