<footer class="content-info">
    <div class="container-fluid">
        {{ function('dynamic_sidebar', 'sidebar-footer') }}
        <div class="footer-wrapper">
            {#<div class="footer-logo"></div>#}
            <nav class="nav-footer">
                <ul>
                    {#<li class=""><font>Next Label Group 2016</font>#}

                    {% if lang_current == 'de' %}
                        <li class=""><a class="nav-footer__link fancybox"
                                        href="#other-page-302"><font>Impressum</font></a>

                        </li>
                        <li class=""><a class="nav-footer__link fancybox" href="#other-page-304"><font>Disclaimer</font></a>

                        </li>
                    {% else %}
                        <li class=""><a class="nav-footer__link fancybox"
                                        href="#other-page-74"><font>Impressum</font></a>

                        </li>
                        <li class=""><a class="nav-footer__link fancybox" href="#other-page-76"><font>Disclaimer</font></a>

                        </li>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</footer>

{{ function('wp_footer') }}
