{% extends "templates/base.twig" %}

{% block content %}

    <div class="section section--logo">
        <img src="{{ theme.link }}/dist/images/logo_next_big.png">
    </div>
    {% for page in pages %}

        {% include "templates/content.twig" with {post: page}  %}

    {% endfor %}

    <div class="section contact">
        <div class="container-fluid">
            <div class="form-container">
                <div class="title-container"><h2>Contact</h2></div>
                {{ contact }}
            </div>
        </div>
    </div>

{% endblock %}

{#{% block sidebar %}#}

    {#{% include "templates/sidebar.twig" %}#}

{#{% endblock %}#}