{% extends "templates/base.twig" %}

{% block content %}

    {% for page in pages %}

        {% include "templates/content.twig" with {post: page}  %}

    {% endfor %}

    <div class="section contact">
        {{ contact }}
    </div>

{% endblock %}

{#{% block sidebar %}#}

    {#{% include "templates/sidebar.twig" %}#}

{#{% endblock %}#}