<li class="job">
    <div class="job__subtitle">{{ job.typ }}</div>
    <a class="job__title" href="{{ job.get_field('file') }}">
        {{ job.title }}<br>
        <i class="icon-arrows-slim-right"></i>
    </a>

    {#<a href="{{ job.get_field('file') }}" class="job__link icon-arrows-slim-right"></a>#}
</li>
