{% extends "templates/base.twig" %}

{% block content %}
    <div class="page">
    {% for page in posts %}
        <div class="wrap container-fluid" role="document">
            <div class="row">
                {% include "templates/_page-row.twig" %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}